[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
flask = "*"
flask-restful = "*"
elasticsearch-dsl = "*"
flask-httpauth = "*"
flask-apispec = "*"
prometheus-flask-exporter = "*"
m4i-backend-core = {git = "https://github.com/aureliusenterprise/m4i_backend_core.git", editable = true}
m4i-atlas-core = {git = "https://github.com/aureliusenterprise/m4i_atlas_core.git", ref = 'rc-1.0.0', editable = true}

[dev-packages]

[requires]
python_version = "3.6"
